.content {
    margin-top: 50px;
}

.content a{
    color: #FFBA24;
 

}

.content h3{
    margin-bottom: 5px;
 

}

.content p, h3{
    color: white;
}


.content p,a, h3  {
    line-height: 1.3em;
    display: block;
    font-family: Roboto, sans-serif;
}
.content p,a {
    font-size: 18px;
    
    margin-bottom: 25px;
   

}

.content p a {
    display: inline;
}

